@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Share+Tech&display=swap');

body {    
    background-color: black; /* Black background */
    color: white; /* Neon green text */
    font-family: "Orbitron", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* box-shadow: 5px 10px #888888; */
}

header #left {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00ff00;
}

header #right {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header #right a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px;
}

a:hover {
    background-color: #00ff00;
    color: black;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    border-radius: 20%;
}

h1, h2, h3, p {
    text-shadow: 0 0 5px #fff;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

main div{
    /* border: 10px solid #fff; */
    /* padding: 0px 0px 0px 0; */
}

@keyframes typing {
    from { width:20px }
    to { width: 40% }
}

main p {
    font-size: xx-large;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid #f5f5f5;
    width: 0;
    animation: typing 3s steps(30, end) forwards;
}

footer {
    background-color: rgb(45, 44, 44);
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}












/* button {
    background-color: transparent;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #00ff00;
    color: #000;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.terminal-text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid #00ff00;
    width: 0;
    animation: typing 3s steps(30, end) forwards;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 90%, rgba(0, 255, 0, 0.1) 100%),
                linear-gradient(90deg, transparent 90%, rgba(0, 255, 0, 0.1) 100%);
    background-size: 50px 50px;
    pointer-events: none;
}

.fa {
    padding: 2px;
    font-size: 30px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    background-color: gold;
} */

/* neon green color = #00ff00; */